cmus/
dconf/
deluge/
dunst/
gconf/
GIMP/
gpick/
gtk-2.0/
gtk-3.0/
ibus/
keepassx/
mimeapps.list
nordvpn
nordvpn/
pavucontrol.ini
pavucontroll.ini
procps/
pulse/
QtProject.conf
transmission/
Trolltech.conf
vlc/
